body {
    font-family: sans-serif;
}
header{
    border: 5px solid blue;
    border-radius:20px;
    padding: 5px;
}
header a{
    background-color: rgb(236, 236, 255);
    color: violet;
}
h1{
    text-align: center;
    color: red;
    border: 1px solid red;
    border-radius: 5px;
}
fotter{
    background-color: red;
    font-size: ;
    
}
fotter p{
    background-color: white;
}
